html 
    head 
        title Command Link Extreme
        link(rel="stylesheet", href="/styles/landing.css")
    body
        header 
            h1 User2 Alias
        main 
            label(for="message") Message:
            input(type="text" name="message" id="message")
            button#send(onclick = "window.location.href = '/index'") Send
            button#exit(onclick = "window.location.href = '/index'") End Conversation and exist
        