html 
    head 
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap", rel="stylesheet")
        title="(chat) Command Link Extreme"
        link(rel="stylesheet", href="/styles/chat.css")
        script(src="/script/chat.js")  
    body
        main#container
            div#topBar
                button#exit(onclick="exitPage()") Exit
                div#activeBar
                    div#onlineInfoSignal(data-active='0')
                    span#onlineInfo 2
                    span acitve user
                div#userListButton Show users
            div#bottomBar
                div#chatDisplay
                div#newInputForm
                    div#inputContainer
                        textarea(type="text" rows="1"  name="message" id="input-text-area")
                    div#sendContainer
                        button#send(onclick="sendM2()") Send
        