html 
    head 
        title="(chat) Command Link Extreme"
        link(rel="stylesheet", href="/styles/landing.css")
        script(src="/script/chat.js")  
    body
        header 
            h1 User2 Alias
        main 
            label(for="message") Message:
            input(type="text" name="message" id="input-text-area")
            button#exit(onclick="sendWS()") Send
            button#send(onclick="exitPage()") End Conversation and exist
        