html 
    head 
        title="(chat) Command Link Extreme"
        link(rel="stylesheet", href="/styles/chat.css")
        script(src="/script/chat.js")  
    body
        main#container
            div#top
                button#exit(onclick="exitPage()") EXIT
                div#display-notification 2 users online
                div Show users
            div#chat-display
            div#messageControl
                //- label(for="message") Message:
                input(type="text" name="message" id="input-text-area")
                button#send(onclick="sendM2()") Send
        