doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Command Link Extreme
    link(rel="stylesheet", href="/styles/landing.css")
  body
    header
      h1 Command Link Extreme
      p Start a new conversation or go back to the landing page.
    main
      form#sessionForm(method="post")
        h2 Create a new session

        label(for="alias") Alias
        input(type="text" name="alias" id="alias" required)

        label(for="email") Send email link?
        label(for="emailY")
          input(type="radio" name="email" id="emailY" value="yes")
          | Yes
        label(for="emailN")
          input(type="radio" name="email" id="emailN" value="no" checked)
          | No
        
        label(for="email") Email
        input(type="text" name="email" id="email-input" required disabled)

        button#createSession(type="button" onclick="buttonClick()") Create

        h2 Join an existing session
        button#joinSession(type="button" onclick="window.location.href='/join'") Join Session

        h2 Go back to the landing page
        button#startConversation(type="button" onclick="window.location.href='/'") Back to the landing page

    script(src="/script/create.js")
