doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Command Link Extreme
    link(rel="stylesheet", href="/styles/create.css")
  body
    header
      h1 Command Link Extreme
      p.description Start a new conversation or go back to the landing page.
    main
      div.container 
        form#sessionForm
          h2 Create a new session
          
          label(for="alias") Choose Alias
          input(type="text" name="alias" id="alias-input" placeholder="optional")
          
          label(for="email") Enter email to send invitation
          input(type="text" name="email" id="email-input" placeholder="blank to not invite")

          button#createSession(type="button" onclick="createSessionHandler()") Create

        button#joinSession(type="button" onclick="window.location.href='/join'") Join Session
        button#backToLanding(type="button" onclick="window.location.href='/'") Back to the landing page

      div#notification-area
    script(src="/script/create.js")
