html 
    head 
        title Command Link Extreme
        link(rel="stylesheet", href="/styles/landing.css") 
        script(src="/script/join.js")  
    body 
        header 
            h1 Command Link Extreme
            p Join an existing session or go back to landing page.
        main 
            h2 Join an existing session
            label(for="session") Session ID
            input(type="text" name="session" id="session-id-input" required)
            br
            label(for="alias") Alias
            input(type="text" name="alias" id="alias-input" placeholder='optional')
            br
            // on click to change to joinSession method in join.js
            button#joinSession(onclick= "doJoin()") Join 
        br
        button#startConversation(onclick="window.location.href='/'") Back to landing page 
        div#notification-area
