.roboto-flex-300 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Flex", sans-serif;
    background-color: black;
    background-image: radial-gradient(ellipse at 5% 120%, #61108c, transparent 28%), 
                        radial-gradient(ellipse at 70% -40%, #2d108c, transparent 40%),
                        radial-gradient(ellipse at 240% 0%, #fc4481, transparent 55%),
                        radial-gradient(ellipse at -110% 80%, #ff7b00, transparent 50%),
                        radial-gradient(ellipse at 35% 200%, #0ae754, transparent 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

button {
    border-radius: 100vh;
    border: none;
    font-size: 1.3rem;
}

#container {
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 4vh;
    background-color: rgba(255,255,255,0.125);
    width: 97.5vh;
    height: 90vh;
    display: grid;
    grid-template-rows: 5% auto;
    padding: 2vh;
}

#topBar {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

#exit {
    background-image: linear-gradient(to top right, #882323 , #3d170d);
    color: rgb(170,170,170);
    /* background-color: #ee5c39; */
}

#onlineInfo {
    background-color: transparent;
    margin: 0px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 100vh;
    /* text-align: center; */
}

#userListButton {
    border-radius: 100vh;
    background-image: linear-gradient(to bottom left, #31193d , #61108c);
    color: rgb(170,170,170);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

#bottomBar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-height: 100%;
}

#chatDisplay {
    margin: 2vh 0px;
}

/* width */
#chatDisplay::-webkit-scrollbar {
    width: 1vh;
}

/* Track */
#chatDisplay ::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
#chatDisplay::-webkit-scrollbar-thumb {
    background: #490c6a;
    border-radius: 2vh;
}

#chatDisplay::-webkit-scrollbar-thumb:hover {
    background: #31193d;
    cursor: grab;
}

#newInputForm {
    display: grid;
    grid-template-columns: auto 10%;
}

#sendContainer {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

#sendContainer button {
    margin: 0px 5%;
    padding: 10%;
    background-image: linear-gradient(to bottom left, #31193d , #61108c);
    color: rgb(170,170,170);
    width: 100%;
}

#inputContainer {
    background-color: transparent;
    border: none;
    /* padding-left: 2vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 2vh;
    width: auto;
    margin-right: 1vh;

}

textarea {
    resize: none;
    text-decoration: none;
    font-family: "Roboto Flex", sans-serif;
    width: 95%;
    height: fit-content;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.3rem;
}

textarea:focus,
textarea:hover {
    outline: none;
}