/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: 
        /* radial-gradient(ellipse at 5% 120%, #61108c, transparent 28%), */
        radial-gradient(ellipse at 5% 120%, #61108c, transparent 28%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 4vh;
    background-color: rgba(255,255,255,0.125);
    width: 97.5vh;
    height: 90vh;
    display: grid;
    grid-template-rows: 5% auto 5%;
    padding: 2vh;
}

#messageControl {
    display: grid;
    grid-template-columns: auto 10%;
}

#messageControl button {
    margin: 0px 5%;
    border-radius: 100vh;
    background-image: linear-gradient(to bottom left, #31193d , #61108c);
    border: none;
    color: rgb(170,170,170);
    font-size: 1.2rem;
}

#messageControl  input {
    border-radius: 100vh;
    width: auto;
    margin-right: 1vh;
    border: none;
}

