/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: radial-gradient(ellipse at 5% 120%, #61108c, transparent 28%), 
                        radial-gradient(ellipse at 70% -40%, #2d108c, transparent 40%),
                        radial-gradient(ellipse at 240% 0%, #fc4481, transparent 55%),
                        radial-gradient(ellipse at -110% 80%, #ff7b00, transparent 50%),
                        radial-gradient(ellipse at 35% 200%, #0ae754, transparent 45%);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2vw;
}

/* Main Section Styling */
main {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 4vh;
    background-color: rgba(255,255,255,0.125);
    padding: 3vw 1vw;
    box-shadow: 0px 0.8vw 2vw rgba(0, 0, 0, 0.1);
    width: 60vw;
    aspect-ratio: 2;
}

button {
    border-radius: 100vh;
    border: none;
    font-size: 1.3vh;
}

main h2{ 
    display: flex;
    justify-content: center;
}

button#startConversation {
    padding: 2vw 3vw; 
    border: none;
    border-radius: 1.6vw;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button#startConversation:hover {
    box-shadow: 0px 2vw 4vw rgba(0, 0, 0, 0.1);
}



form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vw;
    width: 100%;
    font-size: 1.75vw;
}

input {
    background-color: rgba(255, 255, 255, 0.2);
    border:none;
}

#aliasContainer{
    display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content: flex-end;
}

#aliasContainer input {
    padding: 1vw;
    border: 1px solid #bdc3c7;
    border-radius: 100vh;
    width: 55%;
}

#aliasContainer label {
    padding: 1vw;
}

#emailContainer{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: flex-end;
}

#emailContainer label {
    font-size: 1.75vw;  
    padding-top: 1vw; 
}

#emailContainer input {
    padding: 1vw;
    border-radius: 100vh;
    width: 55%;
}

#buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#createSessionContainer {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}

#createSessionContainer button{
    margin-top: 2vw;
    padding: 1.5vw 2vw;
    width: 30%;
    align-items: center;
    border: none;
    cursor: pointer;
    aspect-ratio: 9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#createSession {
    background-image: linear-gradient(to bottom left, #31193d , #61108c);
    color: white;
}

#backToLanding {
    background-image: linear-gradient(to top right, #882323 , #3d170d);
    color:white;
}

