.roboto-flex-300 {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Flex", sans-serif;
    background-color: black;
    background-image: radial-gradient(ellipse at 5% 120%, #61108c, transparent 28%), 
                        radial-gradient(ellipse at 70% -40%, #2d108c, transparent 40%),
                        radial-gradient(ellipse at 240% 0%, #fc4481, transparent 55%),
                        radial-gradient(ellipse at -110% 80%, #ff7b00, transparent 50%),
                        radial-gradient(ellipse at 35% 200%, #0ae754, transparent 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

button {
    border-radius: 100vh;
    border: none;
    font-size: 1.3rem;
}

#container {
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 4vh;
    background-color: rgba(255,255,255,0.125);
    width: 97.5vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    grid-template-rows: 5% auto;
    padding: 2vh;
}

#topBar {
    height: auto;
    min-height: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
}

#exit {
    background-image: linear-gradient(to top right, #882323 , #3d170d);
    color: rgb(170,170,170);
    /* background-color: #ee5c39; */
}

#activeBar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vh;
    font-size: 1.3rem;
}

#onlineInfoSignal {
    width: 0.5vh;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-right: 1vh;
}

#onlineInfoSignal[data-active='1'] {
    background-color: greenyellow;
    box-shadow: 
        -5px -5px 10px greenyellow,
        -5px  5px 10px greenyellow,
         5px -5px 10px greenyellow,
         5px  5px 10px greenyellow;
}

#onlineInfoSignal[data-active='0'] {
    background-color: orange;
    box-shadow: 
        -5px -5px 10px orange,
        -5px  5px 10px orange,
         5px -5px 10px orange,
         5px  5px 10px orange;
}

#onlineInfo {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
    /* text-align: center; */
}

#userListButton {
    border-radius: 100vh;
    background-image: linear-gradient(to bottom left, #31193d , #61108c);
    color: rgb(170,170,170);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

#chatContainer {
    flex-grow: 1;
    margin: 2vh 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
}

#chatDisplay {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* width */
#chatContainer::-webkit-scrollbar {
    width: 1vh;
}

/* Track */
#chatContainer ::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
#chatContainer::-webkit-scrollbar-thumb {
    background: #490c6a;
    border-radius: 2vh;
}

#chatContainer::-webkit-scrollbar-thumb:hover {
    background: #31193d;
    cursor: grab;
}

#newInputForm {
    height: auto;
    min-height: 5%;
    display: grid;
    grid-template-columns: auto 10%;
}

#sendContainer {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

#sendContainer button {
    margin: 0px 5%;
    padding: 10%;
    background-image: linear-gradient(to bottom left, #31193d , #61108c);
    color: rgb(170,170,170);
    width: 100%;
}

#inputContainer {
    background-color: transparent;
    border: none;
    /* padding-left: 2vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 2vh;
    width: auto;
    margin-right: 1vh;

}

textarea {
    resize: none;
    text-decoration: none;
    font-family: "Roboto Flex", sans-serif;
    width: 95%;
    height: fit-content;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.3rem;
}

textarea:focus,
textarea:hover {
    outline: none;
}

.server-notification-container {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.server-notification-content {
    text-align: center;
    border: 2px solid rgb(156, 121, 56);
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.message-received-container {
    display: flex;
    justify-content: start;
    padding: 0.5rem 0px;
    padding-left: 1rem;
}

.message-received-bubble {
    background-color: #096126;
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
    width: fit-content;
    max-width: 40%;
    position: relative;
}

.message-received-bubble::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 1.65rem solid #096126;
    left: -1rem;
    bottom: 0.25rem;
    transform: rotateZ(-20deg);
}

.message-received-sender {
    color: #aaa;
    font-size: 0.9rem;
}
.message-received-sender::before {
    content: "~";
    color: #aaa;
    font-size: 0.9rem;
}

.message-received-content {}


.message-sent-container {
    display: flex;
    justify-content: end;
    padding: 0.5rem 0px;
    padding-right: 1rem;
}

.message-sent-content {
    text-align: right;
}

.message-sent-bubble {
    background-color: #b35600;
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
    width: fit-content;
    max-width: 40%;
    position: relative;
}

.message-sent-bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -1rem;
    bottom: 0.25rem;
    border-top: 1rem solid transparent;
    border-left: 1.65rem solid #b35600;
    transform: rotateZ(20deg);
}