doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Command Link Extreme
    link(rel="stylesheet", href="/styles/create.css")
  body
    main
      div.container 
        form#sessionForm
          h2 Create a new session
          
          div#aliasContainer 
            label(for="alias") Choose Alias
            input(type="text" name="alias" id="alias-input" placeholder="optional")
          
          div#emailContainer
            label(for="email") Send invitation 
            input(type="text" name="email" id="email-input" placeholder="blank to not invite")

          
      div#createSessionContainer
        button#backToLanding(type="button" onclick="window.location.href='/'") Back
        button#createSession(type="button" onclick="createSessionHandler()") Create
          

      div#notification-area
    script(src="/script/create.js")
